header {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 2rem;
}

app-pokemon {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 50px 50px 0 50px;
    gap: 10px;
    /* grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 500px; */
}